*{
    font-family: "DM Sans", sans-serif;
}
body{
    background-color: #E5E4E2;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: unset;
}
p{
    box-sizing:border-box;
}
.nav{
    display:flex;
    justify-content: space-between;
    margin: 0px 200px 0px 200px;
    gap: 10px;
    border-bottom:1px solid black;
    
}
.homeEffect{
    background-color: #a7a7a7;
    padding:0px 10px 0px 10px;
    border-radius: 5px;
}
.hoverEffect:hover{
    background-color: #a7a7a7;
    padding:0px 10px 0px 10px;
    border-radius: 5px;
}
.nav button{
    width: 136px;
    height: 35.92px;
    margin-top: 15px;
    font-weight:600;
    background-color: #C1BEBA;
    color: black;
    border-radius: 80px;
    cursor: pointer;
    
}
.hero
{
    display: flex;
    justify-content: space-between;
    margin:45px 0px 0px 225px;
}
.hero img{
    max-width: 100%;
    height: 300px;
    object-fit: contain;
}
#hero-lose{
    display: block;
    text-decoration:line-through;
    text-decoration-color: #C1BEBA;
}
.hero button{
    width: 136px;
    height: 35.92px;
    margin: 15px 0px 0px 5px;
    font-weight:600;
    background-color: #C1BEBA;
    color: black;
    border-radius: 80px;
    cursor: pointer;
    font-family: "DM Sans", sans-serif;
}
.footer{
    display: flex;
    flex-direction: column;
    
    height:300px;
    margin-top: 300px;
    background-color: white;
}
.footer-header{
    display: flex;
    justify-content: space-between;
    margin: 0px 410px 0px 200px;
}
.footer-header img{
    margin-top: 25px;
    margin-left: 953px;
    height: 17px;
    width: 17px;
}
.footer-menu{
    position: relative;
    margin: 0px 200px 0px 200px;
}
.footerLink{
    text-decoration-color: #a7a7a7;
    text-decoration: underline;
}
.footerLinkHover:hover{
    text-decoration-color: #a7a7a7;
    text-decoration: underline;
}
.menu-border{
    position: absolute;
    top: 10%;
    left: 66%;
    display: grid;
    width: 304px;
    height: 141px;
    border-radius: 40px;
    background-color: #D9D9D9;
}
.menu-border h3{
    padding-left: 80px;
}
.menu-border button{
    width: 136px;
    height: 35.92px;
    background-color: #C1BEBA;
    color: black;
    border-radius: 80px;
    cursor: pointer;
    margin-left: 85px;
    font-weight:600;
}
#fmenu{
    display: inline-block;
    border-bottom: 1px solid black;
    width: 360px;
}
/*about*/
.about-hero h1,p{
    display: grid;
    place-content: center;
    line-height: 1;
    
}
.about-card-title{
   display: flex;
   justify-content:space-between;
   margin:183px 200px 0 200px;
}
.about-card-title p{
    line-height: 1.7;
}
#about-card-title-text{
    display:block;
    margin-left: 5px;
}
.card1{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 585px;
    height: 286px;
    margin: 0px 694px 0px 161px;
    background-color: white;
    border-radius: 40px;
}
.card1 img{
    width: 68px;
    height: 68px;
    padding-right:20px;
}
.card1 h4{
    padding-left: 48px;
}

.card2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 585px;
    height: 286px;
    margin: 35px 445px 0px 410px;
    background-color: white;
    border-radius: 40px;
}
.card2 img{
    width: 68px;
    height: 68px;
    
}
.card3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 585px;
    height: 286px;
    margin: 35px 135px 0px 702px;
    background-color: white;
    border-radius: 40px;
}
.card3 img{
    width: 68px;
    height: 68px;
}
/*contact us*/
.contact-hero{
    display:grid;
    place-content:center;
    line-height: 0;
}
.contact-hero img{
    height:38px;
    width:38px;
}
.contactHeroInfo{
    display:flex;
    justify-content: space-between;
}
.contact-faq{
    display: grid;
    place-items:center;
    margin-top: 175px;
}
.faq-list{
   display: flex;
   flex-direction:column;
   margin-left: 260px;
}
.faq-item{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 688px;
}
.faq-list p{
    display: inline;
    font-size: 18px;
}
.faq-list span{
    cursor:pointer;
    margin-top: 21.28px;
}
#faq-question{
    font-weight: 800;
}
/*dashBoard*/
.dashboard-body{
    display: flex;
    justify-content: center;
}
.dashboard-nav{
    display:flex;
    justify-content: space-between;
    width:654px;
    height:384px;
    background-color: #A9A9A9;
    border-bottom-left-radius: 350px;
    border-bottom-right-radius:350px;
    gap: 120px;
    position: relative;
   
    
}
.dashboard-profile{
    display: grid;
    grid-template-columns: repeat(2,80px);
    margin: 16px 0px 0px 50px;
}
.dashboard-profile img{
    width:72px;
    height:72px;
    filter: grayscale(0);
    transition: filter 0.3s ease;
    cursor:pointer;

}
.dashboard-profile img:hover{
    filter:grayscale(100%);
}
.dashboard-profile-text{
    margin-top:16px
}
.dashboard-nav button{
    width:72px;
    height:72px;
    border-radius:50%;
    margin: 16px 49px 0px 0px;
    background-color: #D9D9D9;
    border:none;
    cursor:pointer;
}
.dashboard-nav button:hover{
    background-color: #f3f3f3;
}
.dashboardcard{
     background-color: #D9D7D5;
     border-radius:20px;
     width: 550px;
     height: 280px;
     top: 180px;
     position:absolute;
}
.balance-text{
    display: flex;
    align-items: center;
    padding-top: 23px;
    padding-left: 24px;
    font-size: 20px;
    
}
.balance{
    padding-left: 60px;
    font-size: 20px;
    font-weight:800;
}
.balance-info{
    display:flex;
    justify-content:space-around;
    padding-top: 150px;
}

.dashboard-inout{
    display: flex;
    justify-content:space-between;
    padding: 130px 10px 0px 10px;
}
.dashboard-income{
   display: grid;
   grid-template-columns: 0.5fr 0.5fr;
}
.dashboard-expense{
    display:grid;
    grid-template-columns: 0.5fr 0.5fr;
}
.dashboard-transaction-title{
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap: 340px;
}
.dashboard-transaction-history{
    position:absolute;
     top: 500px;
}
.dashboard-transaction-history img{
    width:25px;
    height:25px;
}
.dashboard-transaction1{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 20px;
    gap: 400px;
}
.dashboard-transaction-name{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.dashboard-transaction-text{
    display: flex;
    flex-direction:column;
}
/*menu*/
.menu{
    position: absolute;
    width: 654px;
    height: 1920px;
    background-color: #E5E4E2;
}
.menu-nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin: 16px 50px 0px 50px;
}
.menu-nav button{
     width:72px;
    height:72px;
    border-radius:50%;
    margin: 16px 49px 0px 0px;
    background-color: #D9D9D9;
    border:none;
    cursor:pointer;
}
.menu-nav button:hover{
    background-color: #f3f3f3;;
}
.menu-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 45px;
    
}
.dashboardLink{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.dashboardLinkhover:hover{
    transform: scale(1.5);
}
/*profile*/
.profile{
    position: absolute;
    width: 654px;
    height: 1920px;
    background-color: #E5E4E2;
}
.profile-nav{
    display:flex;
    justify-content: space-between;
    width:654px;
    height:384px;
    background-color: #A9A9A9;
    border-bottom-left-radius: 350px;
    border-bottom-right-radius:350px;
    gap: 120px;
    position: relative;
}
.profile-nav button,.transactions button{
    width:72px;
    height:72px;
    border-radius:50%;
    background-color: #D9D9D9;
    border:none;
    top:16px;
    right:46px;
    position:absolute;
    cursor:pointer;
}
.profile img{
    width:100px;
    height:100px;
    margin: 320px 280px 0px 280px;
}
.profile span{
    margin: 360px 320px 0px 320px;
    position: absolute;
    color:white;

}
.profile-input{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    margin-top: 50px;
}
.profile-input label{
    color: gray;
    font-weight: 500;
}
.profile-input input{
    width: 158px;
    height: 25px;
    border-radius:8px;
    outline: none;
    font-weight: 800;
    background-color: #E5E4E2;
}
.profile-input h3{
    color:gray;
}
.profile-input button{
    margin: 22px 0px 0px 70px;
    width: 90px;
    height: 30px;
    border-radius:8px;
    cursor: pointer;
    outline: none;
    background-color: #E5E4E2;
    border: 2px solid #8A9A5B;
    font-weight:800;
}
.profile-input button:hover,.profile-nav button:hover,.transactions button:hover{
    background-color: white;
}
/*transactions*/
.transactions{
    width: 654px;
    height: 1920px;
    position:absolute;
    background-color: #E5E4E2;
}
/*statistics*/
.statsnav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-left: 200px;
    position:relative;
}
.statsnav button{
    width:72px;
    height:72px;
    border-radius:50%;
    margin-left: 200px;
    background-color: #D9D9D9;
    border:none;
    cursor:pointer;
}
.statsnav button:hover{
  background-color: white;
}
.statshero{
    display:flex;
    flex-direction:row;
    gap: 25px;
    position:absolute;
    top: 180px;
}
.statshero button{
    width: 90px;
    height: 30px;
    border-radius:8px;
    cursor: pointer;
    outline: none;
    background-color: #E5E4E2;
    border-color: #8A9A5B;
    font-weight:800;
}
.statshero button:hover{
    background-color: white;
}
.selectbudgettype .vs__dropdown-toggle{
    width: 90px;
    height: 30px;
    border: 3px solid #8A9A5B;
    border-radius: 8px;
}
.selectbudgettype .vs__selected-options{
    font-weight:800px;
}
.selectbudgettype .vs__dropdown-menu{
    border: 3px solid #8A9A5B;
    border-radius: 8px;
    background-color: #E5E4E2;
    width: 90px;

}
.selectbudgettype .vs__dropdown-option{
    color: black;
    font-size:14px ;
    font-weight:800;
}
.selectbudgettype .vs__clear{
    display: none;
}
.selectbudgettype .vs__selected{
    color: black;
    font-size:14px ;
    font-weight:800;
    position: absolute;
    top: 5px;
    bottom: 5px;
}
.selectbudgettype .vs__open-indicator{
    position: absolute;
    right: 5px;
}
.selectbudgettype .vs__dropdown-option:hover{
    background-color: white;
}
.sort-select{
    position: relative;
    margin-top: 15px;
}
.selectedSortType{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.areachart{
    display:flex;
    width: 550px;
    height:330px;
    position: absolute;
    top: 35px;
}
.topspending{
    
    position:absolute;
    top: 500px;
}
.topspending-title{
    display:flex;
    justify-content:space-between;
    gap: 358px;
}
.topspending1{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 15px;
    background-color: white;
    height: 50px;
    border-radius: 20px;
}
.topspendingname{
    display:flex;
    flex-direction:row;
    align-items: center;
}
.topspendingtext{
    display:flex;
    flex-direction:column;
}
.topspendingname img{
    width: 25px;
    height: 25px;
}
.sort-icon{
    position: absolute;
}
/*wallet*/
.wallet-hero{
    background-color: #E5E4E2;
     border-radius:20px;
     width: 550px;
     height: 280px;
     top: 140px;
     left: 50px;
     position:absolute;
}
.wallet-hero-content{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animated{
    animation: shake 0.82s cubic-bezier(0.075, 0.82, 0.165, 1) both;
    transition: translate3d(-1px,0,0);
}
/*transactions*/
.transactions-select{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:36px;
}
.transactions-list{
    display:grid;
    place-content:center;
    margin-top: 100px;
}
.transactions-sort-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.transactions-sort-btn .vs__dropdown-toggle{
    width:125px;
}
.transactions-list img{
width: 25px;
    height: 25px;
}
#name{
  font-size:16px;  
  font-weight: 800;
}
#welcome{
  color: white;
  font-size:16px
}
#arrow{
    box-sizing: border-box;
}
#inoutbalance{
    font-weight:800;
}
#userlabel{
    margin-right: 50px;
}
#taglabel{
    margin-right: 75px;
}
#editIcon{
    display: block;
}
#transactiondate{
    color: gray;
    font-size: 12px;
}
#wallet-name{
    margin-right:105px;
}
#wallet-amount{
    margin-right:85px;
}
#see-all-button{
    cursor: pointer;
}
#see-all-button:hover{
    color: white;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}









    




